---
- name: Ensure apt cache is updated on Debian based OSes
  become: true
  apt: update_cache=true cache_valid_time=3600
  when: is_privileged_user and ansible_os_family == 'Debian'

- name: Ensure base dependencies are installed
  become: "{{ (ansible_os_family in ['Darwin']) | ternary('false', 'true') }}"
  package:
    name: '{{item}}'
    state: present
  with_items:
    - git
    - make
    - gcc
    - curl
  when: is_privileged_user

- include: ubuntu.yml
  when: is_privileged_user and ansible_distribution in ['Ubuntu']

- name: 'Ensure {{ editor }} is the latest version'
  become: true
  package: name={{ editor }} state=latest
  when: "ansible_os_family not in ['Darwin']"

- name: 'Ensure {{ editor }} is the latest version (MacOS)'
  homebrew:
    name: '{{ editor }}'
    state: latest
    path: /opt/homebrew/bin
  when: "ansible_os_family in ['Darwin']"

- name: Check pip version
  shell: which pip || which pip3 || which pip2
  register: pip_version_result

- name: Set pip version
  set_fact:
    pip_executable: '{{ pip_version_result.stdout | regex_search("(pip\d?)") }}'

- debug:
    msg: '{{ pip_executable }} pip executable'

- name: 'Install neovim Python library'
  become: "{{ (ansible_os_family in ['Darwin']) | ternary('false', 'true') }}"
  pip:
    name: neovim
    executable: '{{ pip_executable }}'
    extra_args: --upgrade
  when: (is_privileged_user or ansible_os_family in ['Darwin']) and editor == 'neovim'

- name: 'Ensure {{ editor }} config directory exists'
  file:
    path: '{{ vim_config_path }}'
    recurse: true
    state: directory

# TODO: Make this a bit cleaner
- name: Retrieve result of vim-bootstrap post request
  uri:
    url: 'https://vim-bootstrap.com/generate.vim'
    method: POST
    return_content: true
    body_format: form-urlencoded
    body:
      langs: '{{ editor_languages }}'
      editor: '{{ editor_command }}'
      theme: '{{ editor_theme }}'
    status_code: '200'
  register: uri_result

- name: Ensure output of vim-bootstrap.com generate request is stored to init file
  copy:
    content: '{{ uri_result.content }}'
    dest: '{{ (editor == "neovim") | ternary(ansible_env.HOME ~ "/.config/nvim/init.vim", ansible_env.HOME ~ "/.vimrc") }}'

- name: Add custom plugins
  blockinfile:
    dest: '{{ (editor == "neovim") | ternary(ansible_env.HOME ~ "/.config/nvim/local_bundles.vim", ansible_env.HOME ~ "/.vimrc.local.bundles") }}'
    create: true
    marker: ' " {mark} ANSIBLE MANAGED BLOCK'
    block: |
      Plug 'vim-scripts/Zenburn'
      Plug 'tomasiser/vim-code-dark'
      Plug 'https://github.com/pangloss/vim-javascript.git'

# nocompatible prevents home and end buttons from inserting H and F characters
- name: 'Apply customized {{ editor }} settings'
  blockinfile:
    dest: '{{ (editor == "neovim") | ternary(ansible_env.HOME ~ "/.config/nvim/local_init.vim", ansible_env.HOME ~ "/.vimrc.local") }}'
    create: true
    marker: ' " {mark} ANSIBLE MANAGED BLOCK'
    block: |
      silent! colorscheme codedark
      let g:airline_theme = 'codedark'
      set nocompatible
      autocmd FileType python setlocal colorcolumn=99
      set guicursor=
      let g:python3_host_prog = '{{ (ansible_os_family in ['Darwin']) | ternary("python3", "python") }}'

- name: Ensure neovim plugins are installed
  shell: 'nvim +PlugUpdate +qall --headless'
  register: nvim_plugins_install_command
  changed_when: nvim_plugins_install_command.stderr != "Press 'D' to see the updated changes."
  failed_when: nvim_plugins_install_command.rc !=0 or "Error" in nvim_plugins_install_command.stderr
  when: editor == 'neovim'

- name: Ensure vim plugins are installed
  shell: 'echo -n "\n" | vim +PlugInstall +qall'
  register: vim_plugins_install_command
  changed_when: '"Cloning into" in vim_plugins_install_command.stdout'
  failed_when: vim_plugins_install_command.rc !=0 or "Error" in vim_plugins_install_command.stderr
  when: editor == 'vim'
